.user-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}
.user-card:hover{
    transform: scale(1.2);
}

.time-taken{
    display: flex;
    justify-content: space-evenly;
}

.pr-title a:hover{
    color:#13ce95 !important;
}

.pr-status{
    padding:5px;
    border-radius: 5px;
    display: inline;
    color:white;
}

.pr-status.OPEN{
    background-color: #13ce95;
}

.pr-status.CLOSED, .pr-status.FAILED{
    background-color: #EF7070;
}

.pr-status.MERGED{
    background-color: #6f42c1;
}
.pr-changes{
    width: 100px;
}

.pr-changes span{
    color: white;
    padding:5px;
}

.pr-changes .additions{
    background-color: #13ce95;
    border-radius: 10px 0 0 10px;
}
.pr-changes .deletions{
    background-color: #EF7070;
    border-radius: 0px 10px 10px 0px;
}

.popup-close-btn{
    color:black;
    position: absolute;
    top:10px;
    right:20px;
    cursor: pointer;
}
.popup-del-btn{
    color:black;
    position: absolute;
    top:10px;
    right:60px;
    cursor: pointer;
}