@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,a:hover{
  text-decoration: none !important;
}

.breadcrumbs{
  margin-left: -5px;
}

.breadcrumbs > * {
  margin: 0 5px;
}

.breadcrumbs a, .breadcrumbs a:hover{ 
  color:#13ce95;
  cursor: pointer;
}

.breadcrumbs a:hover{ 
  text-decoration: underline !important;
}

.breadcrumbs span{
  color: gray;
  cursor: default;
}

.input{
  background: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  color: #343740;
  outline: none;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
}

.input-md{
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 12px;
}

.input-lg{
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 24px 16px;
}

.input:focus{
  border:1px solid #13ce95;
}

.btn-outline-primary{
  border: 2px solid #13ce95;
  background: #fff;
}

.btn-outline-green{
  border: 2px solid #13ce95 !important;
  color:#13ce95 !important;
  background: #fff;
}

.btn-outline-green:hover{
  border: 2px solid #13ce95;
  color:#fff !important;
  background: #13ce95;
}

.Collapsible__trigger {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  color: #13ce95; 
}

.Collapsible__trigger:after {
  font-family: 'Glyphicons Halflings';
  content: '+';
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms; 
}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg); 
}
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey; 
}